<mat-card >
  <form (submit)="search(searchForm)" #searchForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="country"
        ngModel
        required
        minlength="3"
        placeholder="country"
        >
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Get Weather</button>
  </form>
</mat-card>
<mat-card>
  <mat-card-title>
  Weather
  </mat-card-title>
    <mat-card-content *ngIf="searchResult">
      {{searchResult}}
      </mat-card-content>
  <mat-card-content *ngIf="!searchResult">
    no search yet
  </mat-card-content>
</mat-card>

